.profileContainer {
    color: black;
    height: 100vh;
    font-family:'costaregular';
}
.fade-in-text {
    font-family:'costaregular';
    font-size: 100px;
    color: black;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.artistDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:15rem 20px;
    color: black;
    font-size: 30px;
    
}
.artistDiv h1 {
    margin: 0 0 3rem 0;
}

.backbutton {
    position: absolute;
    top: 20px;
    right: 23px;
}

.artistImage {
    
    float: left;
    height: 400px;
    width: 600px;
}

.artistDiv p {
    text-transform: uppercase;
    font-family:'costaregular';
    line-height: 40px;
    padding-left: 50px;
}

