/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@400;500;600&display=swap');


  .url 
  {
    cursor: url(../public/lightning.png), auto;
  }

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 /* Landing page css */

.container  {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 9;
  background: #A7C7E7;
  width:100%;
  height:80vh;
  position: relative;
  }
  
  .container:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
  background: #fff;
  }

  .image {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: url(https://source.unsplash.com/400x400/?coding);

    -webkit-animation: spin 2.5s linear infinite;
        animation: spin 2.5s linear infinite;
      }
      @-webkit-keyframes spin {
        0% {
          -webkit-transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
        }
      }
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
  }
  
  .image p {
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 3rem;
  }

.image:hover{
  box-shadow: 0 0 0 200px rgb(0, 0, 0, 0.9) inset;
  -webkit-animation: none;
  animation: none;
}

.image:hover p{
  opacity: 1;
  transform: scale(1);
}

 /* Landing page css End */


/* navbar  */
  

.backImg {
  height: 110px;
  width: 200px;
  padding-right: 28px;
}

.nav-ul a{
  text-decoration: none;
  color: black;
  font-family: 'Karma', serif;
  font-size: 2rem;
  font-weight: 600;
}

#navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
}

.container1  {
  position: relative;
  z-index: 9;
  background: #A7C7E7;
  width:100%;
  height:20vh;
  position: relative;
  }
  
  .container1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
  background: #fff;
  }


  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #000;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .rosterTitle{
    height: 100vh;
    width: 100%;
    font-size: 45px;
    font-weight: 500;
    color: #fff;
    opacity: .7;
    background: rgba(0,0,0,0.5);

    position: absolute;
    top: 70%; 
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 12em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
  }

  /* Navbar End  */

  /* Roster */

  .rosterNames {
    display: flex; 
    justify-content: flex-start;
    text-decoration: none;
    color: white;
    margin-top: 50px;
    margin-left: 20px;
    opacity: .7
 
  }

  .rosterNames ul li a {
    text-decoration: none;
    color: white;
    list-style: none;
  }
  .rosterNames ul li {
    list-style: none;
    margin-top: 10px;
    font-size: 35px;
  }
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
  }
  
  /* NAVBAR MEDIA  QUERIES*/
  @media only screen and (max-width: 465px){
    /*Small smartphones [325px -> 425px]*/
    .nav-ul a{
      font-size: 16px;
      font-weight: 400;
    }
    .backImg {
      height: 80px;
      width: 120px;
      padding-right: 12px;
    }
    .image {
      height: 275px;
      width: 275px;
      background: url(https://source.unsplash.com/275x275/?coding);
    }
    .image p {
      font-size: 20px;
      padding: 2rem;
    }
    

  }

  /* NAVBAR MEDIA  QUERIES END*/
