/* GOOGLE FONTS IPORT
@import url('https://fontsgoogleapis.com/css2?family=Karma:wght@400;500;600&display=swap'); */

@font-face {
  font-family: 'costaregular';
  src: url('../src/assets/costa-webfont.woff2') format('woff2'),
       url('../src/assets/costa-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

a:hover {
  cursor: url('../src/assets/img/icons8-hand-peace-skin-type-2-color-32.png'), auto;
}

body {
  cursor: url('../src/assets/img/bolt.png'), auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.pageLogo {
  z-index: 9;
  font-family:'costaregular';
  font-size: 50px;
  color: #eab676;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Landing page css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
  background: #A7C7E7;
  width: 100%;
  height: 100vh;
  position: relative;
}

.container:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
  background: #fff;
}

.tracking-in-expand-fwd-bottom {
	-webkit-animation: tracking-in-expand-fwd-bottom 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-bottom 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-5-18 18:11:5
 * Licensed under FreeBSD License.
 * See http://animistaet/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
            transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
            transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-5-18 18:21:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-5-18 18:25:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


/* Landing page css End */

  /*sidebar*/

  .navbar {
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .menu-bars {
    margin-left: 2rem;
    color: white;
    font-size: 2rem;
    background: none;
    font-family:'costaregular';
  }
  
  .nav-menu {
    background-color: #060b26;
    font-family:'costaregular';
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 24;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #eab676;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }

  /* Roster */
  .fade-in-text {
    font-family:'costaregular';
    font-size: 100px;
    color: black;
    animation: fadeIn linear 4s;
    -webkit-animation: fadeIn linear 4s;
    -moz-animation: fadeIn linear 4s;
    -o-animation: fadeIn linear 4s;
    -ms-animation: fadeIn linear 4s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  .rosterTitle{
    height: 100vh;
    width: 100%;
    font-size: 70px;
    font-weight: 500;
    color: #fff;
    background: rgba(0,0,0,0.5);
  }

  .rosterTitle h3 {
    padding-top: 5rem;
    color: #fff;
  }

  .rosterNames {
    display: flex; 
    justify-content: flex-end;
    text-decoration: none;
    color: white;
    margin-top: 50px;
    margin-right: 20px;
 
  }

  .rosterNames ul li a {
    text-decoration: none;
    color: white;
    list-style: none;
  }
  .rosterNames ul li {
    list-style: none;
    margin-top: 50px;
    font-size: 60px;
  }

  /*About Css */

  .containerAbout {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: -1;
      background: #A7C7E7;
      width: 100%;
      height: 100vh;
      position: relative;
    
  }
  
  /* NAVBAR MEDIA  QUERIES*/
  @media only screen and (max-width: 465px){
    /*Small smartphones [325px -> 425px]*/
    .nav-ul a{
      font-size: 16px;
      font-weight: 400;
    }
    .backImg {
      height: 80px;
      width: 120px;
      padding-right: 12px;
    }

    .rosterTitle{
      font-size: 30px;
      padding-top: 30px;
    }

    .rosterNames{
      justify-content: center;
    }

    .rosterNames a{
      font-size: 20px;
    }

    .list h1, h3{
      padding-top: 8rem;
      font-size: 40px;
    }
  }



/* NAVBAR MEDIA  QUERIES END*/

/* Creative Page  */

.container3 {
  height: 100vh;
  width: 100%;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: .4;
  z-index: -1;
}

.list {
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  height: 100vh;
  padding: 20px;
  font-size: 7rem;
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  align-items: center;
  padding: 5rem;
  list-style-type: none;
}


.list a {
  text-decoration: none;
  color: white;
}

.fade-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


.backgroundimg{
  height: 100px;
  width: 100px;
  position:fixed;
  top: 25%;
  left: 15%;
}

.backgroundimg2{
  height: 100px;
  width: 100px;
  position:fixed;
  bottom: 25%;
  right: 15%;
}


/* Loop 404 page  */
span.styles-module_blinkingCursor__288eE {
  font-size: 2rem;
  color: #fff;
}

.loopdiv{
  display: grid;
  place-items: center;
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/cursors-edge.png"),
    auto;
}

/* Loop 404 page End */
